.detalle {
  background-color: #3F51B5 !important;
}
.bg-principal, .bg-principal nav {
  background-color: #212121 !important;
}
.episodio-item {
  border-bottom: 1px solid !important;
  border-color: #9a9a9a !important;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.episodio-item:hover {
    background-color: #3F51B5;
}
.episodio-item {
    background-color: #303F9F;
}
.episodio-miniatura:hover {
    cursor: pointer;
}
.episode {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.episodio-item a {
  font-size: 18px;
  margin-bottom: 5px !important;
}
.card-image {
  max-height: 100% !important;
}
.card.small {
  height: 200px !important;
}
.buscador {
  margin-top: 15px !important;
}
.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "amaranth", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body {
  background-color: #303F9F;
  font: normal 17px/normal "Roboto", Helvetica, sans-serif;
  color: #FFFFFF !important;
}
.descripcion-episodio {
  color: #FFFFFF !important;
  font-size: 15px !important;
}
.titulo-episodio {
  color: #212121 !important;
}
.d {
  margin-left: 5px !important;
}
.l-rojo {
  color: #FFFFFF !important;
}
.mensaje {
  margin-top: 30px;
}
.contenido-mensaje {
  padding-bottom: 30px !important;
}
#buscador {
  background: url(search-dark.png) no-repeat 10px 6px #444;
  border: 0 none;
  font: bold 12px Roboto,Helvetica,Sans-serif;
  color: #777;
  width: 250px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
@media (min-width:641px)  {
  .contenedorScroll {
    overflow-y: scroll;
    height: 600px;
  }
}
@media (min-width:1000px)  {
  #logo {
    margin-left: 180px;
  }
}
